/* Первое из дух вспомогательных css-правил.
   Будет удалено из итогового проекта. */
*, ::before, ::after {
  outline: 1px dashed grey;
}
/*------------------------------------*\
    Насыщенность шрифта
    Regular - 400
    Medium - 500
    Bold - 700
\*------------------------------------*/
/*------------------------------------*\
    #COMMON-TAGS
\*------------------------------------*/

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px; /*Основной размер шрифта*/
  line-height: 24px; /*Основной интерлиньяж*/
  cursor: default;
  color: #283136;    /*Основной цвет текста*/
  font-weight: 400; /*Основная жирность шрифта*/
  background-color: #ffffff; /*Белый цвет фона*/
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------*\
    #COMMON-CLASSES
\*------------------------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  }
  .container {
  width: 1200px; /*Ширина блока*/
  margin: 0 auto; /*Центрирование*/
  }

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.page-header {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  background-color: #eeeeee;
}

/*  #NAVIGATION-SITE  ----------------*/
.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
  /*Отступы по краям для того,
  чтобы текст на маленкльком разрешении
  не прилипал к краям страниц*/
 }
.page-main-logo {
  margin-top: 50px;
  line-height: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.site-navigation a {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
}
.site-navigation a:hover:not(.site-navigation-active),
.site-navigation a:focus:not(.site-navigation-active) {
  color: #fb565a;
}
.site-navigation a:active:not(.site-navigation-active) {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #fb565a;
}
.site-navigation-active {
  border-bottom: 2px solid #fb565a;
}
.site-navigation:first-of-type {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
  margin-left: 200px;
  }
.site-navigation:last-of-type {
  /* Корзина */
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0px;
    padding-right: 10px;
  margin-left: auto;
}
.site-navigation:last-of-type li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.site-navigation:last-of-type a {
  width: 115px;
  text-align: right;
}
/*------------------------------------*\
    #INDEX-CONTENT
\*------------------------------------*/

/*  #SLIDER---------------------------*/
/*  #SLIDER  -------------------------*/


.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-wrapper {
  padding: 0 10px;
}
.slider b {
  display: block;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider p {
  max-width: 415px;
  margin-top: 0;
  margin-bottom: 38px;
}

.slider-button {
  padding: 16px 54px;
}

.slider-item {
  display: none;
  min-height: 430px;
  margin: 0;
  padding: 77px 50% 80px 0;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-1:checked ~ .slider-item-1,
.slide-2:checked ~ .slider-item-2,
.slide-3:checked ~ .slider-item-3 {
  display: block;
}

.slider-item-1 {
  background-image: url(../img/slide1.png);
  background-position: 431px bottom;
}

.slider-item-2 {
  background-image: url(../img/slide2.png);
}

.slider-item-3 {
  background-image: url(../img/slide3.png);
}

.slider-control {
  position: absolute;
  right: 0;
  bottom: 96px;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 35%;
}

.slider-control label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 9px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-1:checked ~ .slider-control label[for="slide-1"]::before,
.slide-2:checked ~ .slider-control label[for="slide-2"]::before,
.slide-3:checked ~ .slider-control label[for="slide-3"]::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*  #BUTTONS---------------------------*/
.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3)
}

/*  #ADVANTAGES-----------------------*/
.advantages {
  margin-bottom: 40px;
    margin-top: 80px;
    background-color: #ffffff;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;  /*Отступы от края страницы*/
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.advantage-item {
  margin-right: 60px;
}

.advantage-picture {
  margin-bottom: 22px;
}

.advantage-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 19px;
  width: 300px;
  text-transform: uppercase;
}

.advantage-text {
  margin: 0;
  margin-bottom: 31px;
  width: 250px;
}

.advantage-button {
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    margin-bottom: 80px;
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
}

/*  #STUDIO-----------------------*/
.studio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
  padding-left: 10px;
  border-bottom: 2px solid #eeeeee;
}

.sudio-title-b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  display: block;
  margin-bottom: 34px;
}

.studio-about-us {
  width: 665px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.studio-text {
  margin-bottom: 38px;
}

.studio-list-b {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  vertical-align: middle;
}

.studio-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 120px;
}

.studio-list li {
  position: relative;
  padding-left: 36px;
  margin-top: 25px;
}

.studio-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: 0;
  background-color: #fb565a;
}

.studio-percent-picture {
  line-height: 0;
  margin-bottom: 37px;
}

.studio-percent-list-b {
  display: block;
  margin-left: 16px;
  margin-bottom: 48px;
  text-transform: uppercase;
  font-weight: 700;
}

.studio-list-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  padding: 0;
  list-style: none;
}

.studio-list-percent li {
  margin-right: 21px;
}

.studio-list-percent b {
  font-weight: 700;
  font-size: 45px;
  line-height: 10.06px;
  margin-bottom: 38px;
}

.studio-list-percent p {
  line-height: 18px;
}

.studio-list-percent span {
  vertical-align: 14px;
  font-size: 27px;
}

/*  #PARTNERS --------------------------*/

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 182px;
  padding-top: 0px;
  padding-right: 28px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-bottom: 83px;
  border-bottom: 2px solid #eeeeee;
}
.partners::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 289px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    -webkit-box-shadow: 300px 0 0 #eeeeee, 600px 0 0 #eeeeee;
            box-shadow: 300px 0 0 #eeeeee, 600px 0 0 #eeeeee;
}
.partners a {
  opacity: 0.2; /*Непрозрачность 20%*/
}

.partners a:hover,
.partners a:focus {
  opacity: 1; /*Непрозрачность 100%*/
outline: none;
}

.partners a:active {
  opacity: 0.1; /*Непрозрачность 10%*/
}
.partners img {
  display: block;
}

/*  #CONTACTS------------------------*/

.contacts {
  min-width: 100%;
  min-height: 416px;
  background-image: url(../img/map-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts .container {
  position: relative;
  min-height: 416px;
  margin-bottom: 69px;
}

.contacts-text {
  position: absolute;
  top: 54px;
  left: 10px;
  width: 318px;
  margin: 0;
  padding: 50px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  background-color: #ffffff;
}

.contacts-text b {
  display: block;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-button {
  padding-top: 16px;
  padding-right: 42px;
  padding-bottom: 16px;
  padding-left: 45px;
  margin-top: 22px;
}

.contacts img {
  display: none;
}
.contacts-map-yandex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacts-map {
  display: none;
}

/*------------------------------------*\
    #INNER-CONTENT
\*------------------------------------*/

/*  #HEADER - INNER-------------------*/

.background-title {
  background-color: #eeeeee;
}
/*  #TITLE-INNER-------------------*/

.title-container {
  padding-top: 77px;
  padding-right: 0px;
  padding-bottom: 105px;
  padding-left: 0px;
  color: #000000;
  background-color: #eeeeee;
  margin-bottom: 45px;
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-right: 22px;
}

/*Начало основного блока на странице*/
.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
padding-left: 10px;
padding-right: 30px;
}

/*  #FILTERS --------------------------*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 13px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 260px;
}

.filter-type { /*Убирает границу у формы*/
  border: none;
  padding: 0;
}

.value-cost {
  width: 80px;
  height: 38px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: #eeeeee;
  border: none;
  padding: 0;
  text-align: center;
}

.filter-type:nth-of-type(2) {
  margin-bottom: 27px;
}

.filter-type:nth-child(3)  {
  margin-bottom: 26px;
}
.filter-type:nth-child(4) {
    margin-bottom: 30px;
}
  .choiсe-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.range-field {
  background-color: #eeeeee;
  border-radius: 4px;
  padding: 39px 20px;
  margin-top: 33px;
  margin-bottom: 14px;
}

.range-stroke {
  height: 2px;
  width: 220px;
  background-color: #d7dcde;
  position: relative;
}

.range-stroke::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 1;
  left: -5px;
  width: 20px;
  height: 20px;
  background-image: url(../img/filter-button.svg);
}

.filled-stroke {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 152px;
  background-color: #00ca74;
}

.filled-stroke::after {
  left: 140px;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-image: url(../img/filter-button.svg);
}

.filter-cost-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin-bottom: 54px;
}

.filter-cost {
  line-height: 22px;
  text-transform: uppercase;
}

.grid-list,
.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 36px;
  position: relative;
}

.filter-radio {
  min-height: 25px;
}

.filter-radio-img::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url(../img/radio-off.svg);
  opacity: 0.4;
}

/*Поведение чекбокса при наведении мыши*/
.filter-radio-img:focus::before,
.filter-radio-img:hover::before {
  opacity: 1;
}

/*Отслеживание состояния checked у радиокнопок*/
.filter-input-radio:checked+span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-image: url(../img/radio-on.svg);
  opacity: 0.4;
}

.filter-input-radio:checked+span:focus::after,
.filter-input-radio:checked+span:hover::after {
  background-image: url(../img/radio-on.svg);
  opacity: 1;
}

/*Начало фильтра с особноостями*/
.filter-checkbox {
  min-height: 23px;
  margin-bottom: 16px;
}

.filter-checkbox-img::before {
  content: url(../img/checkbox-off.svg);
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked+span::after {
  content: url(../img/checkbox-on.svg);
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked+span:focus::after,
.filter-input-checkbox:checked+span:hover::after {
  content: url(../img/checkbox-on.svg);
  opacity: 1;
}

.filter-input-checkbox+span:focus::before,
.filter-input-checkbox+span:hover::before {
  content: url(../img/checkbox-off.svg);
  opacity: 1;
}
.filter-option:hover,
.filter-option:focus {
  color: #000000;
}

.filter-radio-img,
.filter-checkbox-img {
  cursor: pointer;
}

.filter-button {
  padding: 16px 89px;
}

.gray-button {
  background-color: #eeeeee;
  color: #000000;
}

.gray-button:focus,
.gray-button:hover {
  background-color: #dfdfdf;
}
.gray-button:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}
/*  #SORTING ------------------------*/
.flex-element {
  width: 780px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
  margin-top: 8px;
  padding-left: 20px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 380px;
}

.sorting-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 272px;
  padding-left: 20px;
  margin: 0;
  list-style: none;
}

.sorting-option {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,.3);
  text-transform: uppercase;
}

.sorting-option:focus,
.sorting-option:hover {
  color: rgba(0,0,0,.6);
}
.sorting-current {
   color: rgba(0,0,0,.6);
}
.sorting-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 41px;
  margin: 0;
  padding: 0;
}

.sorting-down::before {
  border-bottom: 0;
}

.sorting-down::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down-dir.svg);
  opacity: 1;
}

.sorting-up::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-up-dir.svg);
  opacity: 0.2;
}

.sorting-up:active::before {
/*
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  */
  background-image: url(../img/icon-up-dir.svg);
  opacity: 1;
}

.sorting-up:hover::before {
  /*
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  */
  background-image: url(../img/icon-up-dir.svg);
  opacity: 0.8;
}
/*  #TEMPLATES ------------------------*/
.templates {
  margin-bottom: 42px;
}

.templates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
/*  align-content: space-between;*/
  list-style: none;
}

.templates-item {
  border-top: 40px solid #e9e9e9;
  border-radius: 4px;
  position: relative;
  margin-bottom: 33px;
}

.templates-item::before {
  content: "";
  position: absolute;
  top: -39px;
  left: 0;
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.12
}

.templates-inner {
  line-height: 0;
  overflow: hidden;
}

.templates-item:focus::before,
.templates-item:hover::before {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.templates-hover {
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 360px;
  max-height: 576px;
  min-height: 231px;
  padding-bottom: 43px;
  padding-top: 9px;
  overflow: auto;
  display: none;
}

.templates-hover-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.templates-hover-text {
  line-height: 18px;
  color: #666666;
  margin-bottom: 29px;
}

.templates-inner img:hover,
.templates-inner img:focus {
 border: 1px solid rgba(77, 77, 77, 0.1);
 -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
         box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.templates-item:hover .templates-hover,
.templates-item:focus .templates-hover {
  display: block;
  min-height: 231px;
  border: 1px solid rgba(77, 77, 77, 0.1);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
          box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.br {
  display: block;
}

.templates-hover-btn {
  padding: 16px 60px;
  margin: 0;
}

/*  #PAGINATION -----------------------*/
.page-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 740px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 45px;
}
.page-buttons-previous,
.page-buttons-next {
  padding: 16px 78px;
}
.page-buttons-previous {
  display: none;
}
.page-buttons-number {
  background-color: #eeeeee;
  padding: 16px 20px;
}
.page-buttons {
  list-style: none;
}
.page-buttons-number-current,
.page-buttons-number-current:active,
.page-buttons-number-current:focus,
.page-buttons-number-current:hover {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
    box-shadow: inset 0 0 0 3px #dbdbdb;
    color: #000000;
    cursor: default;
}

.page-buttons-previous,
.page-buttons-number,
.page-buttons-next {
  margin-right: 12px;
}
.page-buttons-next {
  text-transform: uppercase;
  background-color: #eeeeee;
}
/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/*  #SOCIAL --------------------------*/

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  margin-bottom: 70px;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-button a {
  position: relative;
  display: block;
  line-height: 0;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button a:hover,
.social-button a:focus {
  background-color: #e74246;
}
.social-button a:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.social-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.social-button a:active svg {
  opacity: 0.3;
}
.discount {
  margin-left: 140px;
}
.discount b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  display: block;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 10px;
}
.discount p {
  margin: 0;
  line-height: 22px;
  color: #444444;
  }

/*------------------------------------*\
    #MODAL-FEEDBACK
\*------------------------------------*/
/*Анимация*/
@-webkit-keyframes modal-back {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-back {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes modal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes modal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes modal-error {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes modal-error {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-message-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation-name: modal-back;
          animation-name: modal-back;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal {
  display: none;
}
.modal-message {
  position: relative;
  width: 960px;
  height: 590px;
  padding: 40px 100px 0;
  color: #323232;
  background-color: #ffffff;
  /*
  border-radius: 10px;
  */
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
          box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
  -webkit-animation-name: modal;
          animation-name: modal;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.modal-message form,
.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-error {
  -webkit-animation-name: modal-error;
          animation-name: modal-error;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal-message h2 {
  display: block;
  font-weight: 500;
  font-size: 45px;
  line-height: 28px;
  padding-left: 0px;
  margin-bottom: 47px;
}
.modal-message form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.input, /*Стили для placeholder*/
.modal textarea {
  min-height: 44px;
  padding-top: 15px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  font-weight: 400;
  background-color: #fff;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  opacity: 0.5;
}
.modal-message input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}
.modal-message input:focus,
.modal textarea:focus{
  border: 2px solid #000000;
  opacity: 1;
}
.modal-label-contacts {
  display: block;
  width: 50%;
  margin-bottom: 6px;
}
.modal-label-message {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
/*Поля ввода на модальной форме*/
.modal-message input {
  width: 360px;
  margin-bottom: 30px;
}
.modal-message textarea {
  min-height: 115px;
  width: 760px;
  margin-bottom: 43px;
}
/*Кнопка Отправить */
.modal-button {
  width: 260px;
  height: 50px;
  text-align: center;
  padding: 0;
}
.modal-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.modal-fieldset .input {
  letter-spacing: -.4px;
}

.modal-close {
  position: absolute;
  top: 81px;
  right: 83px;
  cursor: pointer;
  background: none;
  border: none;
  opacity: 0.3;
}
.modal-close:hover {
  opacity: 1;
  background-color: transparent;
}
.modal-close:active {
  background-color: transparent;
  opacity: 0.1;
}
.modal-close::before {
  content: "";
  display: inline-block;
  width: 21px;
  height:21px;
  background-image: url(../img/close-cross.svg);
  opacity: 1;
}

/* Второе из дух вспомогательных css-правил.
   Будет удалено из итогового проекта. */
  *, ::before, ::after {
     outline: none;
   }
